body {
  font-family: monospace;
  background-color: #d9f2d9;
}

h1 {
  text-align: center;
}

#form {
  text-align: center;
}

form {
  display: inline;
}

#number-input {
  border: 1px solid transparent;
  border-radius: 4px;
  border-color: #4cae4c;
  padding: 5px 6px;
}

#output {
  margin: 15px;
}
